
@font-face {
  font-family: 'LPMQ';
  src: url('../font/LPMQ.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.arab {
  font-size: 20px !important;
  line-height: 45px !important;
  font-family: "LPMQ", "Amiri", "Traditional Arabic", serif !important;
  font-weight: normal !important;
  text-align: right !important;
  direction: rtl !important;
  margin-bottom: 25px !important;
  display: block !important;
  width: 100% !important;
  clear: both !important;
}

.arab p {
  font-size: 20px !important;
  line-height: 45px !important;
  font-family: "LPMQ", "Amiri", "Traditional Arabic", serif !important;
  margin-bottom: 15px !important;
  text-align: right !important;
  direction: rtl !important;
}
