@import url(http://fonts.googleapis.com/earlyaccess/amiri.css);

.arab {
  font-size: 20px!important; line-height: 45px!important;
  font-family: "Amiri", "Traditional Arabic", serif;
  font-weight: normal;
  text-align: right;
  direction: rtl;
  background-image: url(../img/grs.png);
  margin-bottom: 25px!important;
  display: block;
  float: right;
  width: 100%;
}
